<footer class="footer-distributed">

  <div style="padding-right: 30px;" class="footer-left">

    <p class="footer-links">
      <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      <strong><span style="color:#af0000">|</span></strong>
      <a href="{{ site.url }}{{ site.baseurl }}/blog/">Blog</a>
      <strong><span style="color:#af0000">|</span></strong>
      <a href="{{ site.url }}{{ site.baseurl }}/#about">About</a>
      <strong><span style="color:#af0000">|</span></strong>
      <a href="{{ site.url }}{{ site.baseurl }}/projects/">Projects</a>
      <strong><span style="color:#af0000">|</span></strong>
      <a href="{{ site.url }}{{ site.baseurl }}/#contact">Contact</a>
    </p>
    <p style="text-align: justify; font-size:0.9em; color:#d1cfcf; border-radius:10px; padding:7px;"><span style="color:#af0000;">Disclaimer:</span><br>This is my personal website.<br>The opinions expressed here represent my own and <br> not those of any entity with which I have been, am now, <br> or will be affiliated.</p>
    <p class="footer-company-name">Mehran Mehri &copy; 2018. All Rights Reserved.</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fas fa-map-marker-alt"></i>
      <p style="font-family:'Avenir':">Düsseldorf, Germany</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>contact@mehranmehri.com</p><br>
      <i class="fa fa-envelope"></i>
      <p>mehran.mehri@henkel.com</p>

    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Follow me</span>
      You can follow me on Twitter, GitHub, and Kaggle to get the latest updates about my new posts and projects.
    </p>

    <div class="footer-icons">

      <a href="https://twitter.com/mnmehri" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/mnmehri" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.kaggle.com/mnmehri" target="_blank"><i class="fab fa-kaggle"></i></a>
    </div>
  </div>
</footer>
