---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
  {%- endif -%}

  {{ content }}
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- if site.posts.size > 0 -%}
    <h1 style="font-family: 'K2D', sans-serif; color:#ff5656; font-size:3em; margin: auto; width: 20%;" class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <hr>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <br>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span style="color:black" class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a style="color:#25008c" class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h3>
          {{ post.excerpt }}
      </li>
      <hr>
      {%- endfor -%}
    </ul>
{%- endif -%}
</div>
